.DS_Store
*.swp
*.swo
*.bak
vim/bundle/*
vim/.netrwhist
tags
config/base16-shell/

# vendor in `SpoonInstall`, and but then let it manage all other spoons
config/hammerspoon/Spoons/*
!config/hammerspoon/Spoons/SpoonInstall.spoon/

# zsh files
config/zsh/.zcompdump
config/zsh/.zsh_history*
config/zsh/.zsh_sessions/
